//- includes/toolbox.pug
ul(class='tabs' data-tabs id='tabs')
    li(class='tabs-title is-active')
        a(href='#panel1' aria-selected='true') Test
    li(class='tabs-title')
        a(href='#panel2') Settings

div(class='tabs-content' data-tabs-content='tabs')
    ul(class='tabs-panel is-active' id='panel1') Toolbox
        include ./toolbox/_models.pug
    ul(class="tabs-panel" id="panel2") Settings
        include ./toolbox/_settings.pug