/*
  Icon Font: uneek-awesome
*/

@font-face {
    font-family: "uneek-awesome";
    src: url("uneek-awesome_87b31e6d48e6548c753926fca73fc5c1.eot");
    src: url("uneek-awesome_87b31e6d48e6548c753926fca73fc5c1.eot?#iefix") format("embedded-opentype"),
    url("uneek-awesome_87b31e6d48e6548c753926fca73fc5c1.woff") format("woff"),
    url("uneek-awesome_87b31e6d48e6548c753926fca73fc5c1.ttf") format("truetype"),
    url("uneek-awesome_87b31e6d48e6548c753926fca73fc5c1.svgneek-awesome") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: "uneek-awesome";
        src: url("uneek-awesome_87b31e6d48e6548c753926fca73fc5c1.svgneek-awesome") format("svg");
    }
}

[data-icon]:before {
    content: attr(data-icon);
}

[data-icon]:before,
.icon-account-contact:before,
.icon-adjust:before,
.icon-adn:before,
.icon-align-center:before,
.icon-align-justify:before,
.icon-align-left:before,
.icon-align-right:before,
.icon-ambulance:before,
.icon-anchor:before,
.icon-android:before,
.icon-angellist:before,
.icon-angle-double-down:before,
.icon-angle-double-left:before,
.icon-angle-double-right:before,
.icon-angle-double-up:before,
.icon-angle-down:before,
.icon-angle-left:before,
.icon-angle-right:before,
.icon-angle-up:before,
.icon-apple:before,
.icon-archive:before,
.icon-area-chart:before,
.icon-arrow-circle-down:before,
.icon-arrow-circle-left:before,
.icon-arrow-circle-o-down:before,
.icon-arrow-circle-o-left:before,
.icon-arrow-circle-o-right:before,
.icon-arrow-circle-o-up:before,
.icon-arrow-circle-right:before,
.icon-arrow-circle-up:before,
.icon-arrow-down:before,
.icon-arrow-left:before,
.icon-arrow-right:before,
.icon-arrow-up:before,
.icon-arrows:before,
.icon-arrows-alt:before,
.icon-arrows-h:before,
.icon-arrows-v:before,
.icon-asterisk:before,
.icon-at:before,
.icon-backward:before,
.icon-ban:before,
.icon-bar-chart:before,
.icon-barcode:before,
.icon-bars:before,
.icon-bed:before,
.icon-beer:before,
.icon-behance:before,
.icon-behance-square:before,
.icon-bell:before,
.icon-bell-o:before,
.icon-bell-slash:before,
.icon-bell-slash-o:before,
.icon-bicycle:before,
.icon-binoculars:before,
.icon-birthday-cake:before,
.icon-bitbucket:before,
.icon-bitbucket-square:before,
.icon-bold:before,
.icon-bolt:before,
.icon-bomb:before,
.icon-book:before,
.icon-bookmark:before,
.icon-bookmark-o:before,
.icon-briefcase:before,
.icon-btc:before,
.icon-bug:before,
.icon-building:before,
.icon-building-o:before,
.icon-bullhorn:before,
.icon-bullseye:before,
.icon-bus:before,
.icon-buysellads:before,
.icon-calculator:before,
.icon-calendar:before,
.icon-calendar-o:before,
.icon-camera:before,
.icon-camera-retro:before,
.icon-car:before,
.icon-caret-down:before,
.icon-caret-left:before,
.icon-caret-right:before,
.icon-caret-square-o-down:before,
.icon-caret-square-o-left:before,
.icon-caret-square-o-right:before,
.icon-caret-square-o-up:before,
.icon-caret-up:before,
.icon-cart-arrow-down:before,
.icon-cart-plus:before,
.icon-cc:before,
.icon-cc-amex:before,
.icon-cc-discover:before,
.icon-cc-mastercard:before,
.icon-cc-paypal:before,
.icon-cc-stripe:before,
.icon-cc-visa:before,
.icon-certificate:before,
.icon-chain-broken:before,
.icon-check:before,
.icon-check-circle:before,
.icon-check-circle-o:before,
.icon-check-square:before,
.icon-check-square-o:before,
.icon-chevron-circle-down:before,
.icon-chevron-circle-left:before,
.icon-chevron-circle-right:before,
.icon-chevron-circle-up:before,
.icon-chevron-down:before,
.icon-chevron-left:before,
.icon-chevron-right:before,
.icon-chevron-up:before,
.icon-child:before,
.icon-circle:before,
.icon-circle-o:before,
.icon-circle-o-notch:before,
.icon-circle-thin:before,
.icon-clipboard:before,
.icon-clock-o:before,
.icon-cloud:before,
.icon-cloud-download:before,
.icon-cloud-upload:before,
.icon-code:before,
.icon-code-fork:before,
.icon-codepen:before,
.icon-coffee:before,
.icon-cog:before,
.icon-cogs:before,
.icon-columns:before,
.icon-comment:before,
.icon-comment-o:before,
.icon-comments:before,
.icon-comments-o:before,
.icon-compass:before,
.icon-compress:before,
.icon-connectdevelop:before,
.icon-copyright:before,
.icon-credit-card:before,
.icon-crop:before,
.icon-crosshairs:before,
.icon-css3:before,
.icon-cube:before,
.icon-cubes:before,
.icon-cutlery:before,
.icon-dashboard-big:before,
.icon-dashboard-elongate:before,
.icon-dashboard-small:before,
.icon-dashboard-small-elongate:before,
.icon-dashboard-small-small:before,
.icon-dashcube:before,
.icon-database:before,
.icon-delicious:before,
.icon-desktop:before,
.icon-deviantart:before,
.icon-diamond:before,
.icon-digg:before,
.icon-dot-circle-o:before,
.icon-download:before,
.icon-dribbble:before,
.icon-dropbox:before,
.icon-drupal:before,
.icon-eject:before,
.icon-ellipsis-h:before,
.icon-ellipsis-v:before,
.icon-empire:before,
.icon-envelope:before,
.icon-envelope-o:before,
.icon-envelope-square:before,
.icon-eraser:before,
.icon-etc:before,
.icon-eur:before,
.icon-exchange:before,
.icon-exclamation:before,
.icon-exclamation-circle:before,
.icon-exclamation-triangle:before,
.icon-expand:before,
.icon-external-link:before,
.icon-external-link-square:before,
.icon-eye:before,
.icon-eye-slash:before,
.icon-eyedropper:before,
.icon-facebook:before,
.icon-facebook-official:before,
.icon-facebook-square:before,
.icon-fast-backward:before,
.icon-fast-forward:before,
.icon-fax:before,
.icon-female:before,
.icon-fighter-jet:before,
.icon-file:before,
.icon-file-archive-o:before,
.icon-file-audio-o:before,
.icon-file-code-o:before,
.icon-file-excel-o:before,
.icon-file-image-o:before,
.icon-file-o:before,
.icon-file-pdf-o:before,
.icon-file-powerpoint-o:before,
.icon-file-text:before,
.icon-file-text-o:before,
.icon-file-video-o:before,
.icon-file-word-o:before,
.icon-files-o:before,
.icon-film:before,
.icon-filter:before,
.icon-fire:before,
.icon-fire-extinguisher:before,
.icon-flag:before,
.icon-flag-checkered:before,
.icon-flag-o:before,
.icon-flask:before,
.icon-flickr:before,
.icon-floppy-o:before,
.icon-folder:before,
.icon-folder-o:before,
.icon-folder-open:before,
.icon-folder-open-o:before,
.icon-font:before,
.icon-forumbee:before,
.icon-forward:before,
.icon-foursquare:before,
.icon-frown-o:before,
.icon-futbol-o:before,
.icon-gamepad:before,
.icon-gavel:before,
.icon-gbp:before,
.icon-gift:before,
.icon-git:before,
.icon-git-square:before,
.icon-github:before,
.icon-github-alt:before,
.icon-github-square:before,
.icon-glass:before,
.icon-globe:before,
.icon-google:before,
.icon-google-plus:before,
.icon-google-plus-square:before,
.icon-google-wallet:before,
.icon-graduation-cap:before,
.icon-gratipay:before,
.icon-h-square:before,
.icon-hacker-news:before,
.icon-hand-o-down:before,
.icon-hand-o-left:before,
.icon-hand-o-right:before,
.icon-hand-o-up:before,
.icon-hdd-o:before,
.icon-header:before,
.icon-headphones:before,
.icon-heart:before,
.icon-heart-o:before,
.icon-heartbeat:before,
.icon-history:before,
.icon-home:before,
.icon-hospital-o:before,
.icon-html5:before,
.icon-ils:before,
.icon-inbox:before,
.icon-indent:before,
.icon-info:before,
.icon-info-circle:before,
.icon-inr:before,
.icon-instagram:before,
.icon-ioxhost:before,
.icon-italic:before,
.icon-joomla:before,
.icon-jpy:before,
.icon-jsfiddle:before,
.icon-key:before,
.icon-keyboard-o:before,
.icon-kitten:before,
.icon-kosmopolead:before,
.icon-krw:before,
.icon-language:before,
.icon-laptop:before,
.icon-lastfm:before,
.icon-lastfm-square:before,
.icon-leaf:before,
.icon-leanpub:before,
.icon-lemon-o:before,
.icon-level-down:before,
.icon-level-up:before,
.icon-life-ring:before,
.icon-lightbulb-o:before,
.icon-line-chart:before,
.icon-link:before,
.icon-linkedin:before,
.icon-linkedin-square:before,
.icon-linux:before,
.icon-list:before,
.icon-list-alt:before,
.icon-list-ol:before,
.icon-list-ul:before,
.icon-location-arrow:before,
.icon-lock:before,
.icon-long-arrow-down:before,
.icon-long-arrow-left:before,
.icon-long-arrow-right:before,
.icon-long-arrow-up:before,
.icon-magic:before,
.icon-magnet:before,
.icon-male:before,
.icon-map-marker:before,
.icon-mars:before,
.icon-mars-double:before,
.icon-mars-stroke:before,
.icon-mars-stroke-h:before,
.icon-mars-stroke-v:before,
.icon-maxcdn:before,
.icon-meanpath:before,
.icon-medium:before,
.icon-medkit:before,
.icon-meh-o:before,
.icon-mercury:before,
.icon-microphone:before,
.icon-microphone-slash:before,
.icon-minus:before,
.icon-minus-circle:before,
.icon-minus-square:before,
.icon-minus-square-o:before,
.icon-mobile:before,
.icon-money:before,
.icon-moon-o:before,
.icon-motorcycle:before,
.icon-music:before,
.icon-neuter:before,
.icon-newspaper-o:before,
.icon-openid:before,
.icon-outdent:before,
.icon-pagelines:before,
.icon-paint-brush:before,
.icon-paper-plane:before,
.icon-paper-plane-o:before,
.icon-paperclip:before,
.icon-paragraph:before,
.icon-pause:before,
.icon-paw:before,
.icon-paypal:before,
.icon-pencil:before,
.icon-pencil-square:before,
.icon-pencil-square-o:before,
.icon-phone:before,
.icon-phone-square:before,
.icon-picture-o:before,
.icon-pie-chart:before,
.icon-pied-piper:before,
.icon-pied-piper-alt:before,
.icon-pinterest:before,
.icon-pinterest-p:before,
.icon-pinterest-square:before,
.icon-plane:before,
.icon-play:before,
.icon-play-circle:before,
.icon-play-circle-o:before,
.icon-plug:before,
.icon-plus:before,
.icon-plus-circle:before,
.icon-plus-square:before,
.icon-plus-square-o:before,
.icon-power-off:before,
.icon-print:before,
.icon-puzzle-piece:before,
.icon-qq:before,
.icon-qrcode:before,
.icon-question:before,
.icon-question-circle:before,
.icon-quote-left:before,
.icon-quote-right:before,
.icon-random:before,
.icon-rebel:before,
.icon-recycle:before,
.icon-reddit:before,
.icon-reddit-square:before,
.icon-refresh:before,
.icon-renren:before,
.icon-repeat:before,
.icon-reply:before,
.icon-reply-all:before,
.icon-retweet:before,
.icon-road:before,
.icon-rocket:before,
.icon-rss:before,
.icon-rss-square:before,
.icon-rub:before,
.icon-scissors:before,
.icon-search:before,
.icon-search-minus:before,
.icon-search-plus:before,
.icon-sellsy:before,
.icon-server:before,
.icon-share:before,
.icon-share-alt:before,
.icon-share-alt-square:before,
.icon-share-square:before,
.icon-share-square-o:before,
.icon-shield:before,
.icon-ship:before,
.icon-shirtsinbulk:before,
.icon-shopping-cart:before,
.icon-sign-in:before,
.icon-sign-out:before,
.icon-signal:before,
.icon-simplybuilt:before,
.icon-sitemap:before,
.icon-skyatlas:before,
.icon-skype:before,
.icon-slack:before,
.icon-sliders:before,
.icon-slideshare:before,
.icon-smile-o:before,
.icon-sort:before,
.icon-sort-alpha-asc:before,
.icon-sort-alpha-desc:before,
.icon-sort-amount-asc:before,
.icon-sort-amount-desc:before,
.icon-sort-asc:before,
.icon-sort-desc:before,
.icon-sort-numeric-asc:before,
.icon-sort-numeric-desc:before,
.icon-soundcloud:before,
.icon-space-shuttle:before,
.icon-spinner:before,
.icon-spoon:before,
.icon-spotify:before,
.icon-square:before,
.icon-square-o:before,
.icon-stack-exchange:before,
.icon-stack-overflow:before,
.icon-star:before,
.icon-star-half:before,
.icon-star-half-o:before,
.icon-star-o:before,
.icon-steam:before,
.icon-steam-square:before,
.icon-step-backward:before,
.icon-step-forward:before,
.icon-stethoscope:before,
.icon-stop:before,
.icon-street-view:before,
.icon-strikethrough:before,
.icon-stumbleupon:before,
.icon-stumbleupon-circle:before,
.icon-subscript:before,
.icon-subway:before,
.icon-suitcase:before,
.icon-sun-o:before,
.icon-superscript:before,
.icon-table:before,
.icon-table-export:before,
.icon-table-import:before,
.icon-tables:before,
.icon-tablet:before,
.icon-tachometer:before,
.icon-tag:before,
.icon-tags:before,
.icon-tasks:before,
.icon-taxi:before,
.icon-tencent-weibo:before,
.icon-terminal:before,
.icon-text-height:before,
.icon-text-width:before,
.icon-th:before,
.icon-th-large:before,
.icon-th-list:before,
.icon-thumb-tack:before,
.icon-thumbs-down:before,
.icon-thumbs-o-down:before,
.icon-thumbs-o-up:before,
.icon-thumbs-up:before,
.icon-ticket:before,
.icon-times:before,
.icon-times-circle:before,
.icon-times-circle-o:before,
.icon-tint:before,
.icon-toggle-off:before,
.icon-toggle-on:before,
.icon-train:before,
.icon-transgender:before,
.icon-transgender-alt:before,
.icon-trash:before,
.icon-trash-o:before,
.icon-tree:before,
.icon-trello:before,
.icon-trophy:before,
.icon-truck:before,
.icon-try:before,
.icon-tty:before,
.icon-tumblr:before,
.icon-tumblr-square:before,
.icon-twitch:before,
.icon-twitter:before,
.icon-twitter-square:before,
.icon-umbrella:before,
.icon-underline:before,
.icon-undo:before,
.icon-university:before,
.icon-unlock:before,
.icon-unlock-alt:before,
.icon-upload:before,
.icon-usd:before,
.icon-user:before,
.icon-user-md:before,
.icon-user-plus:before,
.icon-user-secret:before,
.icon-user-times:before,
.icon-users:before,
.icon-venus:before,
.icon-venus-double:before,
.icon-venus-mars:before,
.icon-viacoin:before,
.icon-viadeo-square:before,
.icon-video-camera:before,
.icon-vimeo-square:before,
.icon-vine:before,
.icon-vk:before,
.icon-volume-down:before,
.icon-volume-off:before,
.icon-volume-up:before,
.icon-weibo:before,
.icon-weixin:before,
.icon-whatsapp:before,
.icon-wheelchair:before,
.icon-wifi:before,
.icon-windows:before,
.icon-wordpress:before,
.icon-wrench:before,
.icon-xing:before,
.icon-xing-square:before,
.icon-yahoo:before,
.icon-yelp:before,
.icon-youtube:before,
.icon-youtube-play:before,
.icon-youtube-square:before {
    display: inline-block;
    font-family: "uneek-awesome";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.icon-account-contact:before {
    content: "\f100";
}

.icon-adjust:before {
    content: "\f101";
}

.icon-adn:before {
    content: "\f102";
}

.icon-align-center:before {
    content: "\f103";
}

.icon-align-justify:before {
    content: "\f104";
}

.icon-align-left:before {
    content: "\f105";
}

.icon-align-right:before {
    content: "\f106";
}

.icon-ambulance:before {
    content: "\f107";
}

.icon-anchor:before {
    content: "\f108";
}

.icon-android:before {
    content: "\f109";
}

.icon-angellist:before {
    content: "\f10a";
}

.icon-angle-double-down:before {
    content: "\f10b";
}

.icon-angle-double-left:before {
    content: "\f10c";
}

.icon-angle-double-right:before {
    content: "\f10d";
}

.icon-angle-double-up:before {
    content: "\f10e";
}

.icon-angle-down:before {
    content: "\f10f";
}

.icon-angle-left:before {
    content: "\f110";
}

.icon-angle-right:before {
    content: "\f111";
}

.icon-angle-up:before {
    content: "\f112";
}

.icon-apple:before {
    content: "\f113";
}

.icon-archive:before {
    content: "\f114";
}

.icon-area-chart:before {
    content: "\f115";
}

.icon-arrow-circle-down:before {
    content: "\f116";
}

.icon-arrow-circle-left:before {
    content: "\f117";
}

.icon-arrow-circle-o-down:before {
    content: "\f118";
}

.icon-arrow-circle-o-left:before {
    content: "\f119";
}

.icon-arrow-circle-o-right:before {
    content: "\f11a";
}

.icon-arrow-circle-o-up:before {
    content: "\f11b";
}

.icon-arrow-circle-right:before {
    content: "\f11c";
}

.icon-arrow-circle-up:before {
    content: "\f11d";
}

.icon-arrow-down:before {
    content: "\f11e";
}

.icon-arrow-left:before {
    content: "\f11f";
}

.icon-arrow-right:before {
    content: "\f120";
}

.icon-arrow-up:before {
    content: "\f121";
}

.icon-arrows:before {
    content: "\f122";
}

.icon-arrows-alt:before {
    content: "\f123";
}

.icon-arrows-h:before {
    content: "\f124";
}

.icon-arrows-v:before {
    content: "\f125";
}

.icon-asterisk:before {
    content: "\f126";
}

.icon-at:before {
    content: "\f127";
}

.icon-backward:before {
    content: "\f128";
}

.icon-ban:before {
    content: "\f129";
}

.icon-bar-chart:before {
    content: "\f12a";
}

.icon-barcode:before {
    content: "\f12b";
}

.icon-bars:before {
    content: "\f12c";
}

.icon-bed:before {
    content: "\f12d";
}

.icon-beer:before {
    content: "\f12e";
}

.icon-behance:before {
    content: "\f12f";
}

.icon-behance-square:before {
    content: "\f130";
}

.icon-bell:before {
    content: "\f131";
}

.icon-bell-o:before {
    content: "\f132";
}

.icon-bell-slash:before {
    content: "\f133";
}

.icon-bell-slash-o:before {
    content: "\f134";
}

.icon-bicycle:before {
    content: "\f135";
}

.icon-binoculars:before {
    content: "\f136";
}

.icon-birthday-cake:before {
    content: "\f137";
}

.icon-bitbucket:before {
    content: "\f138";
}

.icon-bitbucket-square:before {
    content: "\f139";
}

.icon-bold:before {
    content: "\f13a";
}

.icon-bolt:before {
    content: "\f13b";
}

.icon-bomb:before {
    content: "\f13c";
}

.icon-book:before {
    content: "\f13d";
}

.icon-bookmark:before {
    content: "\f13e";
}

.icon-bookmark-o:before {
    content: "\f13f";
}

.icon-briefcase:before {
    content: "\f140";
}

.icon-btc:before {
    content: "\f141";
}

.icon-bug:before {
    content: "\f142";
}

.icon-building:before {
    content: "\f143";
}

.icon-building-o:before {
    content: "\f144";
}

.icon-bullhorn:before {
    content: "\f145";
}

.icon-bullseye:before {
    content: "\f146";
}

.icon-bus:before {
    content: "\f147";
}

.icon-buysellads:before {
    content: "\f148";
}

.icon-calculator:before {
    content: "\f149";
}

.icon-calendar:before {
    content: "\f14a";
}

.icon-calendar-o:before {
    content: "\f14b";
}

.icon-camera:before {
    content: "\f14c";
}

.icon-camera-retro:before {
    content: "\f14d";
}

.icon-car:before {
    content: "\f14e";
}

.icon-caret-down:before {
    content: "\f14f";
}

.icon-caret-left:before {
    content: "\f150";
}

.icon-caret-right:before {
    content: "\f151";
}

.icon-caret-square-o-down:before {
    content: "\f152";
}

.icon-caret-square-o-left:before {
    content: "\f153";
}

.icon-caret-square-o-right:before {
    content: "\f154";
}

.icon-caret-square-o-up:before {
    content: "\f155";
}

.icon-caret-up:before {
    content: "\f156";
}

.icon-cart-arrow-down:before {
    content: "\f157";
}

.icon-cart-plus:before {
    content: "\f158";
}

.icon-cc:before {
    content: "\f159";
}

.icon-cc-amex:before {
    content: "\f15a";
}

.icon-cc-discover:before {
    content: "\f15b";
}

.icon-cc-mastercard:before {
    content: "\f15c";
}

.icon-cc-paypal:before {
    content: "\f15d";
}

.icon-cc-stripe:before {
    content: "\f15e";
}

.icon-cc-visa:before {
    content: "\f15f";
}

.icon-certificate:before {
    content: "\f160";
}

.icon-chain-broken:before {
    content: "\f161";
}

.icon-check:before {
    content: "\f162";
}

.icon-check-circle:before {
    content: "\f163";
}

.icon-check-circle-o:before {
    content: "\f164";
}

.icon-check-square:before {
    content: "\f165";
}

.icon-check-square-o:before {
    content: "\f166";
}

.icon-chevron-circle-down:before {
    content: "\f167";
}

.icon-chevron-circle-left:before {
    content: "\f168";
}

.icon-chevron-circle-right:before {
    content: "\f169";
}

.icon-chevron-circle-up:before {
    content: "\f16a";
}

.icon-chevron-down:before {
    content: "\f16b";
}

.icon-chevron-left:before {
    content: "\f16c";
}

.icon-chevron-right:before {
    content: "\f16d";
}

.icon-chevron-up:before {
    content: "\f16e";
}

.icon-child:before {
    content: "\f16f";
}

.icon-circle:before {
    content: "\f170";
}

.icon-circle-o:before {
    content: "\f171";
}

.icon-circle-o-notch:before {
    content: "\f172";
}

.icon-circle-thin:before {
    content: "\f173";
}

.icon-clipboard:before {
    content: "\f174";
}

.icon-clock-o:before {
    content: "\f175";
}

.icon-cloud:before {
    content: "\f176";
}

.icon-cloud-download:before {
    content: "\f177";
}

.icon-cloud-upload:before {
    content: "\f178";
}

.icon-code:before {
    content: "\f179";
}

.icon-code-fork:before {
    content: "\f17a";
}

.icon-codepen:before {
    content: "\f17b";
}

.icon-coffee:before {
    content: "\f17c";
}

.icon-cog:before {
    content: "\f17d";
}

.icon-cogs:before {
    content: "\f17e";
}

.icon-columns:before {
    content: "\f17f";
}

.icon-comment:before {
    content: "\f180";
}

.icon-comment-o:before {
    content: "\f181";
}

.icon-comments:before {
    content: "\f182";
}

.icon-comments-o:before {
    content: "\f183";
}

.icon-compass:before {
    content: "\f184";
}

.icon-compress:before {
    content: "\f185";
}

.icon-connectdevelop:before {
    content: "\f186";
}

.icon-copyright:before {
    content: "\f187";
}

.icon-credit-card:before {
    content: "\f188";
}

.icon-crop:before {
    content: "\f189";
}

.icon-crosshairs:before {
    content: "\f18a";
}

.icon-css3:before {
    content: "\f18b";
}

.icon-cube:before {
    content: "\f18c";
}

.icon-cubes:before {
    content: "\f18d";
}

.icon-cutlery:before {
    content: "\f18e";
}

.icon-dashboard-big:before {
    content: "\f18f";
}

.icon-dashboard-elongate:before {
    content: "\f190";
}

.icon-dashboard-small:before {
    content: "\f191";
}

.icon-dashboard-small-elongate:before {
    content: "\f192";
}

.icon-dashboard-small-small:before {
    content: "\f193";
}

.icon-dashcube:before {
    content: "\f194";
}

.icon-database:before {
    content: "\f195";
}

.icon-delicious:before {
    content: "\f196";
}

.icon-desktop:before {
    content: "\f197";
}

.icon-deviantart:before {
    content: "\f198";
}

.icon-diamond:before {
    content: "\f199";
}

.icon-digg:before {
    content: "\f19a";
}

.icon-dot-circle-o:before {
    content: "\f19b";
}

.icon-download:before {
    content: "\f19c";
}

.icon-dribbble:before {
    content: "\f19d";
}

.icon-dropbox:before {
    content: "\f19e";
}

.icon-drupal:before {
    content: "\f19f";
}

.icon-eject:before {
    content: "\f1a0";
}

.icon-ellipsis-h:before {
    content: "\f1a1";
}

.icon-ellipsis-v:before {
    content: "\f1a2";
}

.icon-empire:before {
    content: "\f1a3";
}

.icon-envelope:before {
    content: "\f1a4";
}

.icon-envelope-o:before {
    content: "\f1a5";
}

.icon-envelope-square:before {
    content: "\f1a6";
}

.icon-eraser:before {
    content: "\f1a7";
}

.icon-etc:before {
    content: "\f1a8";
}

.icon-eur:before {
    content: "\f1a9";
}

.icon-exchange:before {
    content: "\f1aa";
}

.icon-exclamation:before {
    content: "\f1ab";
}

.icon-exclamation-circle:before {
    content: "\f1ac";
}

.icon-exclamation-triangle:before {
    content: "\f1ad";
}

.icon-expand:before {
    content: "\f1ae";
}

.icon-external-link:before {
    content: "\f1af";
}

.icon-external-link-square:before {
    content: "\f1b0";
}

.icon-eye:before {
    content: "\f1b1";
}

.icon-eye-slash:before {
    content: "\f1b2";
}

.icon-eyedropper:before {
    content: "\f1b3";
}

.icon-facebook:before {
    content: "\f1b4";
}

.icon-facebook-official:before {
    content: "\f1b5";
}

.icon-facebook-square:before {
    content: "\f1b6";
}

.icon-fast-backward:before {
    content: "\f1b7";
}

.icon-fast-forward:before {
    content: "\f1b8";
}

.icon-fax:before {
    content: "\f1b9";
}

.icon-female:before {
    content: "\f1ba";
}

.icon-fighter-jet:before {
    content: "\f1bb";
}

.icon-file:before {
    content: "\f1bc";
}

.icon-file-archive-o:before {
    content: "\f1bd";
}

.icon-file-audio-o:before {
    content: "\f1be";
}

.icon-file-code-o:before {
    content: "\f1bf";
}

.icon-file-excel-o:before {
    content: "\f1c0";
}

.icon-file-image-o:before {
    content: "\f1c1";
}

.icon-file-o:before {
    content: "\f1c2";
}

.icon-file-pdf-o:before {
    content: "\f1c3";
}

.icon-file-powerpoint-o:before {
    content: "\f1c4";
}

.icon-file-text:before {
    content: "\f1c5";
}

.icon-file-text-o:before {
    content: "\f1c6";
}

.icon-file-video-o:before {
    content: "\f1c7";
}

.icon-file-word-o:before {
    content: "\f1c8";
}

.icon-files-o:before {
    content: "\f1c9";
}

.icon-film:before {
    content: "\f1ca";
}

.icon-filter:before {
    content: "\f1cb";
}

.icon-fire:before {
    content: "\f1cc";
}

.icon-fire-extinguisher:before {
    content: "\f1cd";
}

.icon-flag:before {
    content: "\f1ce";
}

.icon-flag-checkered:before {
    content: "\f1cf";
}

.icon-flag-o:before {
    content: "\f1d0";
}

.icon-flask:before {
    content: "\f1d1";
}

.icon-flickr:before {
    content: "\f1d2";
}

.icon-floppy-o:before {
    content: "\f1d3";
}

.icon-folder:before {
    content: "\f1d4";
}

.icon-folder-o:before {
    content: "\f1d5";
}

.icon-folder-open:before {
    content: "\f1d6";
}

.icon-folder-open-o:before {
    content: "\f1d7";
}

.icon-font:before {
    content: "\f1d8";
}

.icon-forumbee:before {
    content: "\f1d9";
}

.icon-forward:before {
    content: "\f1da";
}

.icon-foursquare:before {
    content: "\f1db";
}

.icon-frown-o:before {
    content: "\f1dc";
}

.icon-futbol-o:before {
    content: "\f1dd";
}

.icon-gamepad:before {
    content: "\f1de";
}

.icon-gavel:before {
    content: "\f1df";
}

.icon-gbp:before {
    content: "\f1e0";
}

.icon-gift:before {
    content: "\f1e1";
}

.icon-git:before {
    content: "\f1e2";
}

.icon-git-square:before {
    content: "\f1e3";
}

.icon-github:before {
    content: "\f1e4";
}

.icon-github-alt:before {
    content: "\f1e5";
}

.icon-github-square:before {
    content: "\f1e6";
}

.icon-glass:before {
    content: "\f1e7";
}

.icon-globe:before {
    content: "\f1e8";
}

.icon-google:before {
    content: "\f1e9";
}

.icon-google-plus:before {
    content: "\f1ea";
}

.icon-google-plus-square:before {
    content: "\f1eb";
}

.icon-google-wallet:before {
    content: "\f1ec";
}

.icon-graduation-cap:before {
    content: "\f1ed";
}

.icon-gratipay:before {
    content: "\f1ee";
}

.icon-h-square:before {
    content: "\f1ef";
}

.icon-hacker-news:before {
    content: "\f1f0";
}

.icon-hand-o-down:before {
    content: "\f1f1";
}

.icon-hand-o-left:before {
    content: "\f1f2";
}

.icon-hand-o-right:before {
    content: "\f1f3";
}

.icon-hand-o-up:before {
    content: "\f1f4";
}

.icon-hdd-o:before {
    content: "\f1f5";
}

.icon-header:before {
    content: "\f1f6";
}

.icon-headphones:before {
    content: "\f1f7";
}

.icon-heart:before {
    content: "\f1f8";
}

.icon-heart-o:before {
    content: "\f1f9";
}

.icon-heartbeat:before {
    content: "\f1fa";
}

.icon-history:before {
    content: "\f1fb";
}

.icon-home:before {
    content: "\f1fc";
}

.icon-hospital-o:before {
    content: "\f1fd";
}

.icon-html5:before {
    content: "\f1fe";
}

.icon-ils:before {
    content: "\f1ff";
}

.icon-inbox:before {
    content: "\f200";
}

.icon-indent:before {
    content: "\f201";
}

.icon-info:before {
    content: "\f202";
}

.icon-info-circle:before {
    content: "\f203";
}

.icon-inr:before {
    content: "\f204";
}

.icon-instagram:before {
    content: "\f205";
}

.icon-ioxhost:before {
    content: "\f206";
}

.icon-italic:before {
    content: "\f207";
}

.icon-joomla:before {
    content: "\f208";
}

.icon-jpy:before {
    content: "\f209";
}

.icon-jsfiddle:before {
    content: "\f20a";
}

.icon-key:before {
    content: "\f20b";
}

.icon-keyboard-o:before {
    content: "\f20c";
}

.icon-kitten:before {
    content: "\f20d";
}

.icon-kosmopolead:before {
    content: "\f20e";
}

.icon-krw:before {
    content: "\f20f";
}

.icon-language:before {
    content: "\f210";
}

.icon-laptop:before {
    content: "\f211";
}

.icon-lastfm:before {
    content: "\f212";
}

.icon-lastfm-square:before {
    content: "\f213";
}

.icon-leaf:before {
    content: "\f214";
}

.icon-leanpub:before {
    content: "\f215";
}

.icon-lemon-o:before {
    content: "\f216";
}

.icon-level-down:before {
    content: "\f217";
}

.icon-level-up:before {
    content: "\f218";
}

.icon-life-ring:before {
    content: "\f219";
}

.icon-lightbulb-o:before {
    content: "\f21a";
}

.icon-line-chart:before {
    content: "\f21b";
}

.icon-link:before {
    content: "\f21c";
}

.icon-linkedin:before {
    content: "\f21d";
}

.icon-linkedin-square:before {
    content: "\f21e";
}

.icon-linux:before {
    content: "\f21f";
}

.icon-list:before {
    content: "\f220";
}

.icon-list-alt:before {
    content: "\f221";
}

.icon-list-ol:before {
    content: "\f222";
}

.icon-list-ul:before {
    content: "\f223";
}

.icon-location-arrow:before {
    content: "\f224";
}

.icon-lock:before {
    content: "\f225";
}

.icon-long-arrow-down:before {
    content: "\f226";
}

.icon-long-arrow-left:before {
    content: "\f227";
}

.icon-long-arrow-right:before {
    content: "\f228";
}

.icon-long-arrow-up:before {
    content: "\f229";
}

.icon-magic:before {
    content: "\f22a";
}

.icon-magnet:before {
    content: "\f22b";
}

.icon-male:before {
    content: "\f22c";
}

.icon-map-marker:before {
    content: "\f22d";
}

.icon-mars:before {
    content: "\f22e";
}

.icon-mars-double:before {
    content: "\f22f";
}

.icon-mars-stroke:before {
    content: "\f230";
}

.icon-mars-stroke-h:before {
    content: "\f231";
}

.icon-mars-stroke-v:before {
    content: "\f232";
}

.icon-maxcdn:before {
    content: "\f233";
}

.icon-meanpath:before {
    content: "\f234";
}

.icon-medium:before {
    content: "\f235";
}

.icon-medkit:before {
    content: "\f236";
}

.icon-meh-o:before {
    content: "\f237";
}

.icon-mercury:before {
    content: "\f238";
}

.icon-microphone:before {
    content: "\f239";
}

.icon-microphone-slash:before {
    content: "\f23a";
}

.icon-minus:before {
    content: "\f23b";
}

.icon-minus-circle:before {
    content: "\f23c";
}

.icon-minus-square:before {
    content: "\f23d";
}

.icon-minus-square-o:before {
    content: "\f23e";
}

.icon-mobile:before {
    content: "\f23f";
}

.icon-money:before {
    content: "\f240";
}

.icon-moon-o:before {
    content: "\f241";
}

.icon-motorcycle:before {
    content: "\f242";
}

.icon-music:before {
    content: "\f243";
}

.icon-neuter:before {
    content: "\f244";
}

.icon-newspaper-o:before {
    content: "\f245";
}

.icon-openid:before {
    content: "\f246";
}

.icon-outdent:before {
    content: "\f247";
}

.icon-pagelines:before {
    content: "\f248";
}

.icon-paint-brush:before {
    content: "\f249";
}

.icon-paper-plane:before {
    content: "\f24a";
}

.icon-paper-plane-o:before {
    content: "\f24b";
}

.icon-paperclip:before {
    content: "\f24c";
}

.icon-paragraph:before {
    content: "\f24d";
}

.icon-pause:before {
    content: "\f24e";
}

.icon-paw:before {
    content: "\f24f";
}

.icon-paypal:before {
    content: "\f250";
}

.icon-pencil:before {
    content: "\f251";
}

.icon-pencil-square:before {
    content: "\f252";
}

.icon-pencil-square-o:before {
    content: "\f253";
}

.icon-phone:before {
    content: "\f254";
}

.icon-phone-square:before {
    content: "\f255";
}

.icon-picture-o:before {
    content: "\f256";
}

.icon-pie-chart:before {
    content: "\f257";
}

.icon-pied-piper:before {
    content: "\f258";
}

.icon-pied-piper-alt:before {
    content: "\f259";
}

.icon-pinterest:before {
    content: "\f25a";
}

.icon-pinterest-p:before {
    content: "\f25b";
}

.icon-pinterest-square:before {
    content: "\f25c";
}

.icon-plane:before {
    content: "\f25d";
}

.icon-play:before {
    content: "\f25e";
}

.icon-play-circle:before {
    content: "\f25f";
}

.icon-play-circle-o:before {
    content: "\f260";
}

.icon-plug:before {
    content: "\f261";
}

.icon-plus:before {
    content: "\f262";
}

.icon-plus-circle:before {
    content: "\f263";
}

.icon-plus-square:before {
    content: "\f264";
}

.icon-plus-square-o:before {
    content: "\f265";
}

.icon-power-off:before {
    content: "\f266";
}

.icon-print:before {
    content: "\f267";
}

.icon-puzzle-piece:before {
    content: "\f268";
}

.icon-qq:before {
    content: "\f269";
}

.icon-qrcode:before {
    content: "\f26a";
}

.icon-question:before {
    content: "\f26b";
}

.icon-question-circle:before {
    content: "\f26c";
}

.icon-quote-left:before {
    content: "\f26d";
}

.icon-quote-right:before {
    content: "\f26e";
}

.icon-random:before {
    content: "\f26f";
}

.icon-rebel:before {
    content: "\f270";
}

.icon-recycle:before {
    content: "\f271";
}

.icon-reddit:before {
    content: "\f272";
}

.icon-reddit-square:before {
    content: "\f273";
}

.icon-refresh:before {
    content: "\f274";
}

.icon-renren:before {
    content: "\f275";
}

.icon-repeat:before {
    content: "\f276";
}

.icon-reply:before {
    content: "\f277";
}

.icon-reply-all:before {
    content: "\f278";
}

.icon-retweet:before {
    content: "\f279";
}

.icon-road:before {
    content: "\f27a";
}

.icon-rocket:before {
    content: "\f27b";
}

.icon-rss:before {
    content: "\f27c";
}

.icon-rss-square:before {
    content: "\f27d";
}

.icon-rub:before {
    content: "\f27e";
}

.icon-scissors:before {
    content: "\f27f";
}

.icon-search:before {
    content: "\f280";
}

.icon-search-minus:before {
    content: "\f281";
}

.icon-search-plus:before {
    content: "\f282";
}

.icon-sellsy:before {
    content: "\f283";
}

.icon-server:before {
    content: "\f284";
}

.icon-share:before {
    content: "\f285";
}

.icon-share-alt:before {
    content: "\f286";
}

.icon-share-alt-square:before {
    content: "\f287";
}

.icon-share-square:before {
    content: "\f288";
}

.icon-share-square-o:before {
    content: "\f289";
}

.icon-shield:before {
    content: "\f28a";
}

.icon-ship:before {
    content: "\f28b";
}

.icon-shirtsinbulk:before {
    content: "\f28c";
}

.icon-shopping-cart:before {
    content: "\f28d";
}

.icon-sign-in:before {
    content: "\f28e";
}

.icon-sign-out:before {
    content: "\f28f";
}

.icon-signal:before {
    content: "\f290";
}

.icon-simplybuilt:before {
    content: "\f291";
}

.icon-sitemap:before {
    content: "\f292";
}

.icon-skyatlas:before {
    content: "\f293";
}

.icon-skype:before {
    content: "\f294";
}

.icon-slack:before {
    content: "\f295";
}

.icon-sliders:before {
    content: "\f296";
}

.icon-slideshare:before {
    content: "\f297";
}

.icon-smile-o:before {
    content: "\f298";
}

.icon-sort:before {
    content: "\f299";
}

.icon-sort-alpha-asc:before {
    content: "\f29a";
}

.icon-sort-alpha-desc:before {
    content: "\f29b";
}

.icon-sort-amount-asc:before {
    content: "\f29c";
}

.icon-sort-amount-desc:before {
    content: "\f29d";
}

.icon-sort-asc:before {
    content: "\f29e";
}

.icon-sort-desc:before {
    content: "\f29f";
}

.icon-sort-numeric-asc:before {
    content: "\f2a0";
}

.icon-sort-numeric-desc:before {
    content: "\f2a1";
}

.icon-soundcloud:before {
    content: "\f2a2";
}

.icon-space-shuttle:before {
    content: "\f2a3";
}

.icon-spinner:before {
    content: "\f2a4";
}

.icon-spoon:before {
    content: "\f2a5";
}

.icon-spotify:before {
    content: "\f2a6";
}

.icon-square:before {
    content: "\f2a7";
}

.icon-square-o:before {
    content: "\f2a8";
}

.icon-stack-exchange:before {
    content: "\f2a9";
}

.icon-stack-overflow:before {
    content: "\f2aa";
}

.icon-star:before {
    content: "\f2ab";
}

.icon-star-half:before {
    content: "\f2ac";
}

.icon-star-half-o:before {
    content: "\f2ad";
}

.icon-star-o:before {
    content: "\f2ae";
}

.icon-steam:before {
    content: "\f2af";
}

.icon-steam-square:before {
    content: "\f2b0";
}

.icon-step-backward:before {
    content: "\f2b1";
}

.icon-step-forward:before {
    content: "\f2b2";
}

.icon-stethoscope:before {
    content: "\f2b3";
}

.icon-stop:before {
    content: "\f2b4";
}

.icon-street-view:before {
    content: "\f2b5";
}

.icon-strikethrough:before {
    content: "\f2b6";
}

.icon-stumbleupon:before {
    content: "\f2b7";
}

.icon-stumbleupon-circle:before {
    content: "\f2b8";
}

.icon-subscript:before {
    content: "\f2b9";
}

.icon-subway:before {
    content: "\f2ba";
}

.icon-suitcase:before {
    content: "\f2bb";
}

.icon-sun-o:before {
    content: "\f2bc";
}

.icon-superscript:before {
    content: "\f2bd";
}

.icon-table:before {
    content: "\f2be";
}

.icon-table-export:before {
    content: "\f2bf";
}

.icon-table-import:before {
    content: "\f2c0";
}

.icon-tables:before {
    content: "\f2c1";
}

.icon-tablet:before {
    content: "\f2c2";
}

.icon-tachometer:before {
    content: "\f2c3";
}

.icon-tag:before {
    content: "\f2c4";
}

.icon-tags:before {
    content: "\f2c5";
}

.icon-tasks:before {
    content: "\f2c6";
}

.icon-taxi:before {
    content: "\f2c7";
}

.icon-tencent-weibo:before {
    content: "\f2c8";
}

.icon-terminal:before {
    content: "\f2c9";
}

.icon-text-height:before {
    content: "\f2ca";
}

.icon-text-width:before {
    content: "\f2cb";
}

.icon-th:before {
    content: "\f2cc";
}

.icon-th-large:before {
    content: "\f2cd";
}

.icon-th-list:before {
    content: "\f2ce";
}

.icon-thumb-tack:before {
    content: "\f2cf";
}

.icon-thumbs-down:before {
    content: "\f2d0";
}

.icon-thumbs-o-down:before {
    content: "\f2d1";
}

.icon-thumbs-o-up:before {
    content: "\f2d2";
}

.icon-thumbs-up:before {
    content: "\f2d3";
}

.icon-ticket:before {
    content: "\f2d4";
}

.icon-times:before {
    content: "\f2d5";
}

.icon-times-circle:before {
    content: "\f2d6";
}

.icon-times-circle-o:before {
    content: "\f2d7";
}

.icon-tint:before {
    content: "\f2d8";
}

.icon-toggle-off:before {
    content: "\f2d9";
}

.icon-toggle-on:before {
    content: "\f2da";
}

.icon-train:before {
    content: "\f2db";
}

.icon-transgender:before {
    content: "\f2dc";
}

.icon-transgender-alt:before {
    content: "\f2dd";
}

.icon-trash:before {
    content: "\f2de";
}

.icon-trash-o:before {
    content: "\f2df";
}

.icon-tree:before {
    content: "\f2e0";
}

.icon-trello:before {
    content: "\f2e1";
}

.icon-trophy:before {
    content: "\f2e2";
}

.icon-truck:before {
    content: "\f2e3";
}

.icon-try:before {
    content: "\f2e4";
}

.icon-tty:before {
    content: "\f2e5";
}

.icon-tumblr:before {
    content: "\f2e6";
}

.icon-tumblr-square:before {
    content: "\f2e7";
}

.icon-twitch:before {
    content: "\f2e8";
}

.icon-twitter:before {
    content: "\f2e9";
}

.icon-twitter-square:before {
    content: "\f2ea";
}

.icon-umbrella:before {
    content: "\f2eb";
}

.icon-underline:before {
    content: "\f2ec";
}

.icon-undo:before {
    content: "\f2ed";
}

.icon-university:before {
    content: "\f2ee";
}

.icon-unlock:before {
    content: "\f2ef";
}

.icon-unlock-alt:before {
    content: "\f2f0";
}

.icon-upload:before {
    content: "\f2f1";
}

.icon-usd:before {
    content: "\f2f2";
}

.icon-user:before {
    content: "\f2f3";
}

.icon-user-md:before {
    content: "\f2f4";
}

.icon-user-plus:before {
    content: "\f2f5";
}

.icon-user-secret:before {
    content: "\f2f6";
}

.icon-user-times:before {
    content: "\f2f7";
}

.icon-users:before {
    content: "\f2f8";
}

.icon-venus:before {
    content: "\f2f9";
}

.icon-venus-double:before {
    content: "\f2fa";
}

.icon-venus-mars:before {
    content: "\f2fb";
}

.icon-viacoin:before {
    content: "\f2fc";
}

.icon-viadeo-square:before {
    content: "\f2fd";
}

.icon-video-camera:before {
    content: "\f2fe";
}

.icon-vimeo-square:before {
    content: "\f2ff";
}

.icon-vine:before {
    content: "\f300";
}

.icon-vk:before {
    content: "\f301";
}

.icon-volume-down:before {
    content: "\f302";
}

.icon-volume-off:before {
    content: "\f303";
}

.icon-volume-up:before {
    content: "\f304";
}

.icon-weibo:before {
    content: "\f305";
}

.icon-weixin:before {
    content: "\f306";
}

.icon-whatsapp:before {
    content: "\f307";
}

.icon-wheelchair:before {
    content: "\f308";
}

.icon-wifi:before {
    content: "\f309";
}

.icon-windows:before {
    content: "\f30a";
}

.icon-wordpress:before {
    content: "\f30b";
}

.icon-wrench:before {
    content: "\f30c";
}

.icon-xing:before {
    content: "\f30d";
}

.icon-xing-square:before {
    content: "\f30e";
}

.icon-yahoo:before {
    content: "\f30f";
}

.icon-yelp:before {
    content: "\f310";
}

.icon-youtube:before {
    content: "\f311";
}

.icon-youtube-play:before {
    content: "\f312";
}

.icon-youtube-square:before {
    content: "\f313";
}
