.tiny-mce:empty:not(:focus):before {
  border: 1px dotted #a9a9a9;
  color: #a9a9a9;
  content: attr(data-text);
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%; }

.editable {
  padding-bottom: 50px;
  padding-top: 50px; }

.draggable {
  position: relative; }

.droppable {
  position: absolute; }

.ui-selectable .ui-selecting {
  background: #feca40; }

.ui-selectable .ui-selected {
  background: #f39814;
  color: #fff; }

.ui-resizable-e {
  cursor: ew-resize; }

.ui-resizable-s {
  cursor: ns-resize; }

.draggable-clone {
  background: #fff;
  border: 1px solid #000;
  opacity: .5;
  z-index: 1000; }

.draggable-move,
.draggable-style
.draggable-edit,
.draggable-del {
  font-size: 24px;
  position: absolute;
  z-index: 1000; }

.draggable-move {
  color: #00f;
  left: 0;
  top: 0;
}

.draggable-style {
  color: #ffff00;
  left: 25px;
  top: 0;
}

.draggable-edit {
  color: #008000;
  left: 25px;
  top: 0;
}

.draggable-del {
  color: #f00;
  right: 0;
  top: 0;
}

.resizable-helper {
  border: 1px dotted #000; }

.droppables-container > .droppable {
  position: absolute; }
  .droppables-container > .droppable:not(.drop-hover) {
    opacity: 0; }
  .droppables-container > .droppable:hover {
    opacity: 1; }
  .droppables-container > .droppable.new-nested-before, .droppables-container > .droppable.new-nested-after {
    background: linear-gradient(to top, rgba(142, 62, 12, 0) 0%, rgba(142, 62, 12, 0.8) 15%, #8e3e0c 19%, #8e3e0c 20%, #c84710 50%, #8e3e0c 80%, #8e3e0c 81%, rgba(142, 62, 12, 0.8) 85%, rgba(142, 62, 12, 0) 100%);
    height: 10px; }
  .droppables-container > .droppable.new-row-before {
    background: linear-gradient(to bottom, rgba(30, 87, 153, 0.01) 0%, rgba(15, 52, 204, 0.01) 25%, #01f 50%, rgba(0, 9, 128, 0.01) 75%, rgba(0, 0, 0, 0.01) 100%);
    height: 10px; }
  .droppables-container > .droppable.new-row-after {
    background: linear-gradient(to top, rgba(30, 87, 153, 0.01) 0%, rgba(15, 52, 204, 0.01) 25%, #01f 50%, rgba(0, 9, 128, 0.01) 75%, rgba(0, 0, 0, 0.01) 100%);
    height: 10px; }
  .droppables-container > .droppable.new-column-before {
    background: linear-gradient(to right, rgba(30, 87, 153, 0.01) 0%, rgba(15, 52, 204, 0.01) 25%, #01f 50%, rgba(0, 9, 128, 0.01) 75%, rgba(0, 0, 0, 0.01) 100%);
    width: 20px; }
  .droppables-container > .droppable.new-column-after {
    background: linear-gradient(to left, rgba(30, 87, 153, 0.01) 0%, rgba(15, 52, 204, 0.01) 25%, #01f 50%, rgba(0, 9, 128, 0.01) 75%, rgba(0, 0, 0, 0.01) 100%);
    width: 20px; }
  .droppables-container > .droppable.new-inside-above {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0.01) 60%, rgba(255, 255, 255, 0) 100%); }
  .droppables-container > .droppable.new-inside-below {
    background: linear-gradient(to top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0.01) 60%, rgba(255, 255, 255, 0) 100%); }
  .droppables-container > .droppable.handle-before, .droppables-container > .droppable.handle-after {
    width: 20px; }

*,
:after,
:before {
  box-sizing: inherit; }

.center {
  text-align: center;
}

.off-canvas-wrapper {
  height: 100%; }
  .off-canvas-wrapper-inner {
    height: 100%;
    overflow-y: scroll; }

.off-canvas.position-left {
  height: 100%; }
  .off-canvas.position-left ul {
    margin-left: 0; }

.draggable-model {
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #2199e8;
  border-radius: 0;
  color: #2199e8;
  cursor: pointer;
  display: block;
  font-size: .75rem;
  line-height: 1;
  margin: 0 0 1rem;
  padding: .33333rem .5rem;
  text-align: center;
  transition: background-color .25s ease-out, color .25s ease-out;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%; }
  .draggable-model:focus, .draggable-model:hover {
    background-color: transparent; }

.debug > .droppables-container > .droppable {
  opacity: .5;
  position: absolute; }
  .debug > .droppables-container > .droppable.new-nested-before, .debug > .droppables-container > .droppable.new.-nested-after, .debug > .droppables-container > .droppable.new.-row-before, .debug > .droppables-container > .droppable.new.-row-after {
    background: #000; }
  .debug > .droppables-container > .droppable.new-column-before {
    background: #ffa500; }
  .debug > .droppables-container > .droppable.new-column-after {
    background: #00f; }
  .debug > .droppables-container > .droppable.new-inside-above {
    background: #f00; }
  .debug > .droppables-container > .droppable.new-inside-below {
    background: #008000; }

/*# sourceMappingURL=style.css.map */