$droppable-size: 10px;
$resizable-helper-border-color: #000;

$tiny-mce-color: #a9a9a9;

$draggable-clone-background: #fff;
$draggable-clone-border-color: #000;
$draggable-move-color: #00f;
$draggable-style-color: #ffff00;
$draggable-edit-color: #008000;
$draggable-del-color: #f00;

$new-nested-ba-color1: rgba(142, 62, 12, 0);
$new-nested-ba-color2: rgba(142, 62, 12, .8);
$new-nested-ba-color3: #8e3e0c;
$new-nested-ba-color4: #c84710;

$new-cr-ba-color1: rgba(30, 87, 153, .01);
$new-cr-ba-color2: rgba(15, 52, 204, .01);
$new-cr-ba-color3: #01f;
$new-cr-ba-color4: rgba(0, 9, 128, .01);
$new-cr-ba-color5: rgba(0, 0, 0, .01);

$new-inside-ab-color1: rgba(255, 255, 255, .8);
$new-inside-ab-color2: rgba(255, 255, 255, .5);
$new-inside-ab-color3: rgba(255, 255, 255, .01);
$new-inside-ab-color4: rgba(255, 255, 255, 0);

.drop-zone {
  padding-bottom: 50px;
  padding-top: 50px;
}

.tiny-mce:empty:not(:focus):before {
  border: 1px dotted $tiny-mce-color;
  color: $tiny-mce-color;
  content: attr(data-text);
  display: inline-block;
  padding-left: $droppable-size;
  padding-right: $droppable-size;
  width: 100%;
}

.ui {
  &-selectable {
    .ui-selecting {
      background: #feca40;
    }

    .ui-selected {
      background: #f39814;
      color: #fff;
    }
  }

  &-resizable-e {
    cursor: ew-resize;
  }

  &.ui-resizable-s {
    cursor: ns-resize;
  }
}

.resizable-helper {
  border: 1px dotted $resizable-helper-border-color;
}

.draggable {
  position: relative;

  &-clone {
    background: $draggable-clone-background;
    border: 1px solid $draggable-clone-border-color;
    opacity: .5;
    z-index: 1000;
  }

  &-move,
  &-style,
  &-edit,
  &-del {
    font-size: 24px;
    position: absolute;
    z-index: 1000;
  }

  &-move {
    color: $draggable-move-color;
    left: 0;
    top: 0;
  }

  &-style {
    color: $draggable-style-color;
    left: 25px;
    top: 0;
  }

  &-edit {
    color: $draggable-edit-color;
    left: 50px;
    top: 0;
  }

  &-del {
    color: $draggable-del-color;
    right: 0;
    top: 0;
  }
}

.droppables-container > .droppable {
  position: absolute;

  &:not(.drop-hover) {
    opacity: 0;
  }

  &:hover {
    opacity: 1;
  }

  &.new-nested-before,
  &.new-nested-after {
    background: linear-gradient(to top, $new-nested-ba-color1 0%, $new-nested-ba-color2 15%, $new-nested-ba-color3 19%,
      $new-nested-ba-color3 20%, $new-nested-ba-color4 50%, $new-nested-ba-color3 80%, $new-nested-ba-color3 81%,
      $new-nested-ba-color2 85%, $new-nested-ba-color1 100%);
    height: $droppable-size;
  }

  &.new-row-before {
    background: linear-gradient(to bottom, $new-cr-ba-color1 0%, $new-cr-ba-color2 25%, $new-cr-ba-color3 50%,
      $new-cr-ba-color4 75%, $new-cr-ba-color5 100%);
    height: $droppable-size;
  }

  &.new-row-after {
    background: linear-gradient(to top, $new-cr-ba-color1 0%, $new-cr-ba-color2 25%, $new-cr-ba-color3 50%,
      $new-cr-ba-color4 75%, $new-cr-ba-color5 100%);
    height: $droppable-size;
  }

  &.new-column-before {
    background: linear-gradient(to right, $new-cr-ba-color1 0%, $new-cr-ba-color2 25%, $new-cr-ba-color3 50%,
      $new-cr-ba-color4 75%, $new-cr-ba-color5 100%);
    width: $droppable-size * 2;
  }

  &.new-column-after {
    background: linear-gradient(to left, $new-cr-ba-color1 0%, $new-cr-ba-color2 25%, $new-cr-ba-color3 50%,
      $new-cr-ba-color4 75%, $new-cr-ba-color5 100%);
    width: $droppable-size * 2;
  }

  &.new-inside-above {
    background: linear-gradient(to bottom, $new-inside-ab-color1 0%, $new-inside-ab-color2 20%,
      $new-inside-ab-color3 60%, $new-inside-ab-color4 100%);
  }

  &.new-inside-below {
    background: linear-gradient(to top, $new-inside-ab-color1 0%, $new-inside-ab-color2 20%,
      $new-inside-ab-color3 60%, $new-inside-ab-color4 100%);
  }

  &.handle-before,
  &.handle-after {
    width: 20px;
  }
}
