//- includes/toolbox/models.pug
li Components
    ul(id='componentsContainer' class='vertical menu')
li Structures
    ul(id='structuresContainer' class='vertical menu')
li Presets
    ul(id='groupsContainer' class='vertical menu')