//- includes/toolbox/models.pug
li Components
    ul(class='vertical menu componentsContainer')
li Structures
    ul(class='vertical menu structuresContainer')
li Presets
    ul(class='vertical menu groupsContainer')